@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

.button-wep {
  z-index: 200;
  position: fixed;
  bottom: 20px;
  right: 50px;
  opacity: 0.7;
  display: none;
}
.button-wep:hover {
  opacity: 1;
}
.button-wep a {
  font-size: 50px;
  color: #e4b95b;
  background-color: #1c9aee;
  padding: 10px 20px;
  border-radius: 10px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.web {
  margin: 0 auto;
}
.dad {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./img/home_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.dad #navbar .div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.dad #navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.dad #navbar img {
  width: 100px;
  margin-left: 100px;
}
.dad #navbar .links {
  display: flex;
  gap: 30px;
  margin-right: 60px;
}
.dad #navbar .links li a {
  color: white;
  font-weight: 600;
  padding-bottom: 15px;
  font-size: 25px;
}
#navbar .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
  display: none;
}
#navbar .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
#navbar .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#navbar .hamburger .bar::after,
#navbar .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#navbar .hamburger .bar::after {
  top: 8px;
}
#navbar .hamburger .bar::before {
  bottom: 8px;
}
#navbar .hamburger.active .bar::before {
  bottom: 0;
}
#navbar .hamburger.active .bar::after {
  top: 0;
}
.dad #navbar .links li a:hover {
  border-bottom: 2px solid yellow;
}
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
.dad .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.dad i {
  animation: bouncing 1.5s infinite;
  font-size: 30px;
  text-align: center;
  position: relative;
  bottom: 100px;
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    color: #e74c3c;
  }
  40%,
  60% {
    transform: translateY(-15px);
    color: #f39c12;
  }
}
.animated-heading {
  position: relative;
  font-size: 40px;
  text-align: center;
  animation: colorChange 5s infinite;
}

@keyframes colorChange {
  0% {
    color: #e74c3c;
  }
  25% {
    color: #f39c12;
  }
  50% {
    color: #3498db;
  }
  75% {
    color: #27ae60;
  }
  100% {
    color: #8e44ad;
  }
}
.dad .content p {
  margin: 20px 0 40px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease;
}

.btn::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transform: rotate(45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.btn:hover {
  background-color: #ff8000;
}

.btn:hover::before {
  top: -10%;
  left: -10%;
  opacity: 1;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}
.container {
  max-width: 1100px;
  margin: auto;
}
#About {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  scroll-margin-top: 100px;
  padding: 30px 0;
}
#About .title {
  text-align: center;
  margin-bottom: 4rem;
}

#About h2 {
  font-size: 40px;
  color: #383848;
  margin-bottom: 20px;
}
#About .title p {
  font-size: 14px;
  color: #9a9a9a;
  font-weight: 600;
}
#About .about-content {
  display: flex;
  justify-content: space-between;
}
#About .about-content img {
  width: 450px;
}
#About .about-content p {
  color: #9a9a9a;
  margin-right: 7rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 28px;
}
.btn-about-content {
  margin-top: 30px;
}
.child {
  opacity: 0;
}
.menu-Item-left .menu-item .p-menu-item,
.menu-Item-right .menu-item .p-menu-item {
  position: absolute;
  left: 8px;
  padding-bottom: 100px;
  color: red;
  font-weight: bold;
  display: none;
  font-size: 20px;
}
.menu-Item-left .menu-item,
.menu-Item-right .menu-item {
  position: relative;
}
@keyframes amcvg {
  0% {
    position: relative;
    right: 700px;
  }
  100% {
    position: relative;
    right: 0px;
  }
}
.img-amcvg-2 {
  opacity: 0;
}
@keyframes amcvg-2 {
  0% {
    position: relative;
    left: 700px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}
.btn-about-content {
  color: #fff;
  background-color: #383848;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
}
#offers {
  background: url("./img/offer-background.jpg") center center fixed;
  background-size: cover;
  padding: 50px 0;
}
.cards {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 500px;
}
.card {
  width: 450px;
  height: 380px;
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
  background: linear-gradient(50deg, #ffc107, #fd7e14);
}
.card img {
  width: 200px;
}
#offers .title {
  text-align: center;
}
#offers .title h2 {
  font-size: 40px;
  color: #e4b95b;
  margin-bottom: 20px;
}
#offers .title p {
  color: white;
  font-weight: 500;
}
.card h3 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
  color: #388e3c;
}
.card p {
  color: rgb(202, 12, 12);
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}
.card div {
  margin-top: 10px;
  margin-right: 250px;
  font-size: 25px;
}
.card div del {
  color: gray;
  font-size: 20px;
}
.card div span {
  color: #c62828;
  font-weight: bold;
}
#Menu {
  background-color: #f4f4f4;
  padding: 5rem 0;
}
#Menu .title {
  text-align: center;
  margin: 4rem;
}
#Menu .title h2 {
  text-align: center;
  margin: 4rem;
  font-size: 40px;
  margin-bottom: 20px;
  color: #383848;
}
#Menu .title p {
  font-size: 14px;
  color: #9a9a9a;
  font-weight: 600;
}
#Menu .menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Menu .menu-items .menu-item img {
  width: 80px;
  border-radius: 50%;
  margin-right: 25px;
}
#Menu .menu-items .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
#Menu .menu-items .menu-item h3 {
  color: #383848;
  border-bottom: 1px dashed #c2bdbd;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
}
#Menu .menu-items .menu-item span {
  position: absolute;
  top: 0;
  right: 0;
}
#Menu .btn-2 {
  background-color: #f8b119;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
}
#Menu .btn-2:hover {
  background: #383848;
}
.menu-Item-right {
  opacity: 0;
}
.menu-Item-left {
  opacity: 0;
}
@keyframes amcvg-3 {
  0% {
    position: relative;
    left: 750px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}
@keyframes amcvg-4 {
  0% {
    position: relative;
    right: 700px;
  }
  100% {
    position: relative;
    right: 0px;
  }
}
#daytime {
  background: url("./img/daytime_bg.jpeg") center center/cover fixed no-repeat;
  color: #fff;
  text-align: center;
}
.daytime-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
}
#daytime .daytime-items h3 {
  font-size: 32px;
  margin: 20px 0 10px;
}
#daytime .daytime-items p {
  font-weight: 500;
}
.gallery {
  padding: 50px 0;
  position: relative;
  background: url("./img/offer-background.jpg") center center/cover fixed
    no-repeat;
  scroll-margin-top: 50px;
}
.gallery .title {
  padding: 30px 0;
  font-size: 40px;
  color: #9a9a9a;
  font-weight: 600;
  text-align: center;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  width: 300px;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px #0000004f, 0px 2px 4px 0px #00000014;
  margin: 0 auto;
}
.gallery .box img {
  width: 300px;
  height: 200px;
  transition: var(--main-transition);
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: flashang 0.7s;
}
@keyframes flashang {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
#contact {
  background: #f4f2ed;
  padding: 5rem 0;
  scroll-margin-top: 100px;
}

#contact .container {
  max-width: 900px;
}

#contact .contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact .contact-info {
  width: 50%;
}

#contact .contact-info div {
  margin: 30px 0;
  line-height: 1.7;
}

#contact .contact-info h3 {
  font-size: 28px;
  color: #383848;
  margin-bottom: 10px;
}

#contact .contact-info p {
  color: #9a9a9a;
}

#contact .contact-info p i {
  color: #e4b95b;
  margin-right: 5px;
}

#contact .contact-info a i {
  color: #fff;
  background: #383848;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
}

#contact .contact-info a i:hover {
  background-color: #e4b95b;
  color: #383848;
}

form {
  width: 50%;
}

form input,
textarea {
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0;
  border: none;
  background-color: #e3e2dd;
}
footer {
  background-color: black;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
footer p {
  color: white;
  padding-left: 20px;
  font-size: 25px;
  font-weight: 500;
}
footer a img {
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-right: 20px;
  transition: var(--main-transition);
}
footer a img:hover {
  transform: scale(1.1);
}
footer span {
  color: #3a6cf4;
}
form input:focus,
textarea:focus {
  outline: none;
}

form button {
  color: #fff;
}
#footer {
  background-color: #383848;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
}
.contact-info {
  opacity: 0;
}
@keyframes amcvg-5 {
  0% {
    position: relative;
    right: 500px;
  }
  100% {
    position: relative;
    right: 0px;
  }
}
form {
  opacity: 0;
}
@keyframes amcvg-6 {
  0% {
    position: relative;
    left: 700px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}
@media (max-width: 650px) {
  #About {
    text-align: center;
  }
  #About .about-content img {
    display: none;
  }
  #About .about-content p {
    margin-right: 0;
  }
  .card {
    width: 300px;
    height: 400px;
  }
  .card div {
    margin-top: 0;
    margin-right: 100px;
  }
  #Menu {
    text-align: center;
  }
  #Menu .title {
    margin: 0;
  }
  #Menu .title h2 {
    font-size: 40px;
    margin: 0;
  }
  #Menu .menu-items {
    flex-direction: column;
    margin-top: 50px;
    position: relative;
  }
  .daytime-items {
    flex-direction: column;
    gap: 45px;
  }
  #daytime {
    padding: 310px 0;
  }
  #Menu .menu-items .menu-item span {
    display: none;
  }
  .gallery .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .gallery .container {
    margin-top: 60px;
  }
  .gallery .title {
    font-size: 45px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  footer a img {
    margin-right: 0;
  }
  form {
    width: 90%;
  }
  .dad #navbar img {
    margin-left: 30px;
  }
  .swiper-button-prev {
    background-color: transparent !important;
  }
  .swiper-button-next {
    background-color: transparent !important;
  }
  .menu-Item-left .menu-item .p-menu-item,
  .menu-Item-right .menu-item .p-menu-item {
    display: block;
  }
}
@media (max-width: 800px) {
  #navbar .hamburger {
    display: flex;
  }
  .dad #navbar .links.open {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
    inset: 0;
    background-color: black;
    animation: moves 0.5s forwards;
  }
  .dad #navbar .links.open li a {
    font-size: 40px;
  }
  .dad #navbar .links {
    display: none;
  }
}
@keyframes moves {
  0% {
    transform: translate(500px);
  }
  100% {
    transform: translate(0);
  }
}
@media (min-width: 651px) and (max-width: 960px) {
  #About .about-content img {
    display: none;
  }
  .child {
    text-align: center;
  }
  #About .about-content p {
    margin-right: 0;
  }
  .card {
    width: 350px;
  }
  #Menu .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 923px) {
  #contact .container {
    text-align: center;
  }
  #contact .contact-content {
    flex-direction: column;
  }
}
